.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
}

button {
    display: block;
    text-align: center;
    height: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
